<div class="container">
  <h1>Add a New Recipe:</h1>

  <form action="/recipes" method="post">
    <div class="form-group">
      <label for="new_recipe">Recipe Name:</label>
      <input type="new_recipe" name="new_recipe">
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <input type="ingredients" name="ingredients">
    </div>
    <div class="form-group">
      <label for="instructions">Directions:</label>
      <input type="instructions" name="instructions">
    </div>
    <label for="tags">Enter Tags Seperated by Spaces:</label>
    <input type="tags" name="tags">
    <button type="submit">Add Recipe</button>
  </form>

</div>
